<simulationConfig>
    <physicalProperties>
        <Reynolds>100</Reynolds>
    </physicalProperties>
    <grid>
        <nX>126</nX>
        <nY>126</nY>
        <dx>7.93650793e-3</dx>
        <!--
        <LengthX>1.0</LengthX>
        -->
    </grid>
    <lbModel>
        <type>D2Q9</type>
    </lbModel>
    <collisionModel>
    <!--
        <type>BGK</type>
        <relaxationShear>0.6</relaxationShear>
    -->
        <type>CHM</type>
        <relaxationTimeShear>0.7</relaxationTimeShear>
        <relaxationTimeBulk>0.7</relaxationTimeBulk>
    </collisionModel>
    <boundaryConditions>
        <WEST>
        <type>bounceBack</type>
        </WEST>
        <EAST>
        <type>bounceBack</type>
        </EAST>
        <SOUTH>
        <type>bounceBack</type>
        </SOUTH>
        <NORTH>
        <type>movingWall</type>
        <velocity>
            <x>1.0</x>
            <y>0.0</y>
        </velocity>
        </NORTH>
    </boundaryConditions>
    <simulation>
        <simTime>10</simTime>
    </simulation>
    <output>
        <numberOutputFiles>10</numberOutputFiles>
        <outputDirectory>./output</outputDirectory>
    </output>
</simulationConfig>